extends ../../components/skeleton

block head
    // TODO

    link(href='css/profile.css' rel='stylesheet')

block body
    .container.cs-profile
        .row
            .col-md-8.col-md-offset-2
                h1 Oleg Pavlov
        .row
            .col-md-3.col-md-offset-2
                img.cs-photo(src='img/team/oleg.jpg')
            .col-md-5
                p.cs-about!= erb('l.demo.profile_about')
        .row.cs-main-controls
            .col-md-8.col-md-offset-2
                hr
                .text-center
                    +button-with-icon('edit-profile', erb('l.profile.edit_profile'), 'user').btn-primary
                    +button-with-icon('edit-security', erb('l.profile.edit_security'), 'lock').btn-primary
                    +button-with-icon('create-project', erb('l.profile.create_project'), 'plus').btn-primary
                hr
        .row#main-edit-forms
            .col-md-8.col-md-offset-2
                #edit-profile-form.well.hidden
                    +input('user-name', 'text', erb('l.profile.user_name_cap'), erb('l.profile.user_name_label'))
                    +textarea(
                        'user-description',
                        erb('l.profile.user_description_cap'),
                        erb('l.profile.user_description_label')
                    )
                    +input('user-photo', 'file', '', erb('l.profile.user_photo'))
                    hr
                    +button('save-about', erb('l.profile.save')).pull-right.btn-primary
                    +button('cancel-about', erb('l.profile.cancel')).pull-right.cs-global-fix-btn-margin
                    .clearfix
                #edit-security-form.well.hidden
                    h5: strong!= erb('l.profile.change_email_title')
                    +input('new-email', 'email', erb('l.profile.new_email'))
                    +button('change-email', erb('l.profile.save')).pull-right.btn-primary
                    .clearfix
                    hr
                    h5: strong!= erb('l.profile.change_pass_title')
                    +input('current-pass', 'password', erb('l.profile.current_pass'))
                    +input('new-pass', 'password', erb('l.profile.new_pass'))
                    +input('new-pass2', 'password', erb('l.profile.new_pass_again'))
                    +button('change-password', erb('l.profile.save')).pull-right.btn-primary
                    .clearfix
                    hr
                    h5: strong!= erb('l.profile.two_fa_title')
                    p!= erb('l.demo.two_fa')
                    hr
                    +button('close-security', erb('l.profile.close')).pull-right
                    .clearfix
        .row
            .col-md-8.col-md-offset-2
                h3!= erb('l.profile.projects')
                table#projects-table.table
                    tr
                        th!= erb('l.profile.address')
                        th!= erb('l.profile.project_th')
                        th!= erb('l.profile.project_description_th')
                        th
                    tr
                        td.cs-num 0x374...
                        td!= erb('l.demo.project_title')
                        td!= erb('l.demo.project_desc')
                        td
                            +button-icon('edit-project-1', 'pencil').btn-primary.cs-edit
                    tr
                        td.cs-num 0x374...
                        td!= erb('l.demo.project_title')
                        td!= erb('l.demo.project_desc')
                        td
                            +button-icon('edit-project-2', 'pencil').btn-primary.cs-edit
                    tr
                        td.cs-num 0x374...
                        td!= erb('l.demo.project_title')
                        td!= erb('l.demo.project_desc')
                        td
                            +button-icon('edit-project-3', 'pencil').btn-primary.cs-edit

                h3!= erb('l.profile.sponsored')
                table.table
                    tr
                        th!= erb('l.profile.address')
                        th!= erb('l.profile.project_th')
                        th!= erb('l.profile.project_description_th')
                    tr
                        td.cs-num 0x374...
                        td!= erb('l.demo.project_title')
                        td!= erb('l.demo.project_desc')
                    tr
                        td.cs-num 0x374...
                        td!= erb('l.demo.project_title')
                        td!= erb('l.demo.project_desc')
                    tr
                        td.cs-num 0x374...
                        td!= erb('l.demo.project_title')
                        td!= erb('l.demo.project_desc')
                    tr
                        td.cs-num 0x374...
                        td!= erb('l.demo.project_title')
                        td!= erb('l.demo.project_desc')
                    tr
                        td.cs-num 0x374...
                        td!= erb('l.demo.project_title')
                        td!= erb('l.demo.project_desc')
                        
block scripts
    //- no scripts