mixin docs-block
    #docs.cs-docs.row
        .col-md-12
            .text-center
                +icon('book').cs-block-title-icon
            .cs-title-line
            h2.cs-title!= erb('l.title.docs')

            .well
                
                h4.text-center!= erb('l.docs.wp_title')
                br
                .text-center
                    a.btn.btn-primary.btn-lg(href='/docs/whitepaper.docx' target='_BLANK' role='button')
                        +icon('save-file')
                        | &nbsp;
                        != erb('l.docs.wp_download') + ' | PDF'
                br
                .text-center
                    a.btn.btn-primary.btn-lg(href='/docs/whitepaper.docx' target='_BLANK' role='button')
                        +icon('save-file')
                        | &nbsp;
                        != erb('l.docs.wp_download') + ' | DOC'
                hr
                h4.text-center!= erb('l.docs.smart_title')
                br
                .text-center
                    a.btn.btn-primary.btn-lg(
                        href='https://etherscan.io/address/0xa6047765e275522bfa0ef6638cbc402de023aa86#code'
                        target='_BLANK'
                        role='button'
                    )
                        +icon('list-alt')
                        | &nbsp;
                        != erb('l.docs.smart_load') + ' | Etherscan'
                br
                .text-center
                    a.btn.btn-primary.btn-lg(
                        href='https://github.com/cryptostarter/token'
                        target='_BLANK'
                        role='button'
                    )
                        +icon('list-alt')
                        | &nbsp;
                        != erb('l.docs.smart_load') + ' | GitHub'