mixin ico-block-logo
    img.cs-ico-img.center-block(src='/img/logo/origin.svg')
    h2.text-center IdeaCoin

mixin ico-faq-item(title, text)
    h5!= title
    p!= text

mixin ico-block
    - var ico_status = 'before' // before, in, after

    #ico.row
        .col-md-12
            .text-center
                +icon('briefcase').cs-block-title-icon
            .cs-title-line
            h2.cs-title!= erb('l.title.ico')

    if ico_status == 'before'
        .row
            .col-md-4.col-md-offset-4
                +ico-block-logo
                p.cs-ico-date.text-center 02 02 2018
        

    if ico_status == 'in'
        .row
            .col-md-4.col-md-offset-2
                p!= erb('l.ico.info_in')
                hr
                p: em!= erb('l.ico.comodo')
                .text-center.center-block.cs-comodo
                    script(language="JavaScript" type="text/javascript").
                        TrustLogo(
                            'https://idea-cs-prod.herokuapp.com/img/comodo/comodo_secure_seal_100x85_transp.png',
                            'CL1',
                            'none'
                        );
                    a#comodoTL.cs-positive-ssl(href='https://www.positivessl.com/' target='_BLANK') Positive SSL
                hr.visible-xs
                    
            .col-md-4
                +ico-block-logo
                .cs-buy-button
                    +button('buy', erb('l.ico.buy_button'))(
                        data-toggle='collapse'
                        data-target='#buy-dialog'
                        aria-expanded='false'
                        aria-controls='buy-dialog'
                    ).btn-primary.btn-block.btn-lg

        #buy-dialog.row.collapse
            .col-md-8.col-md-offset-2
                .well
                    #ico-confirm
                        h5!= erb('l.ico.agreement_title')
                        label.cs-pointer
                            .col-md-1
                                input#no-usa.pull-right(type='checkbox')
                            .col-md-11
                                span!= erb('l.ico.agreement_no_usa')

                    #ico-data.collapse
                        br
                        .form-horizontal
                            .form-group
                                label.col-sm-3.control-label!= erb('l.ico.contract_title')
                                .col-sm-6
                                    p.form-control-static.cs-contract-address.
                                        0xa6047765e275522bFA0Ef6638cBc402DE023aA86
                                .col-sm-2
                                    +button(
                                        'copy-contract',
                                        erb('l.ico.copy')
                                    )(
                                        data-clipboard-text='0xa6047765e275522bFA0Ef6638cBc402DE023aA86'
                                    )
                        hr
                        p: em!= erb('l.ico.instruction_1')
                        br
                        p: em!= erb('l.ico.instruction_2')
                        br
                        p: em!= erb('l.ico.instruction_3')

        .row.cs-progress-row
            .col-md-6.col-md-offset-3
                +characteristic('earned', erb('l.ico.invested'), erb('earned * 100 / 500000')).cs-ico-progress
                br
                span.text-left.pull-left!= erb('earned_to_readable(earned)')
                span.text-right.pull-right $500 000

    if ico_status == 'after'
        .row
            .col-md-4.col-md-offset-2
                p!= erb('l.ico.info_after')
            .col-md-4
                +ico-block-logo

    +window('buy')