mixin ico-block-logo
    img.cs-ico-img.center-block(src='/img/logo/origin.svg')
    h2.text-center IdeaCoin

mixin ico-faq-item(title, text)
    h5!= title
    p!= text

mixin ico-block
    - var ico_status = 'in' // before, in, after

    #ico.row
        .col-md-12
            .text-center
                +icon('briefcase').cs-block-title-icon
            .cs-title-line
            h2.cs-title!= erb('l.title.ico')

    if ico_status == 'before'
        .row
            .col-md-4.col-md-offset-2
                p!= erb('l.ico.info_before')
            .col-md-4
                +ico-block-logo

    if ico_status == 'in'
        .row
            .col-md-4.col-md-offset-2
                p!= erb('l.ico.info_in')
            .col-md-4
                +ico-block-logo
                .cs-buy-button
                    +button('buy', erb('l.ico.buy_button'))(
                        data-toggle='collapse'
                        data-target='#buy-dialog'
                        aria-expanded='false'
                        aria-controls='buy-dialog'
                    ).btn-primary.btn-block.btn-lg
        #buy-dialog.row.collapse
            .col-md-8.col-md-offset-2
                .well
                    #ico-confirm
                        h5!= erb('l.ico.agreement_title')
                        label.cs-pointer
                            .col-md-1
                                input#no-usa.pull-right(type='checkbox')
                            .col-md-11
                                span!= erb('l.ico.agreement_no_usa')

                    #ico-data.collapse
                        h5!= erb('l.ico.address_list')
                        .form-horizontal
                            .form-group
                                label.col-sm-3.control-label!= erb('l.ico.contract_title')
                                .col-sm-6
                                    p.form-control-static 0xd0a6E6C54DbC68Db5db3A091B171A77407Ff7ccf
                                .col-sm-2
                                    +button(
                                        'copy-contract',
                                        erb('l.ico.copy')
                                    )(
                                        data-clipboard-text='0xd0a6E6C54DbC68Db5db3A091B171A77407Ff7ccf'
                                    )
                            .form-group
                                label.col-sm-3.control-label!= erb('l.ico.abi_json_title')
                                .col-sm-6
                                    p.form-control-static [{"constant":true,"inputs":[{"name":"","type":"uint256"},
                                .col-sm-2
                                    +button(
                                        'copy-abi',
                                        erb('l.ico.copy')
                                    )(
                                        data-clipboard-text='[{"constant":true,"inputs":[{"name":"","type":"uint256"},'
                                    )
                        hr
                        h5!= erb('l.ico.instruction_title')
                        hr

                        p.cs-ico-instruction-logo
                            img(src='/img/ico/eth-wallet.svg')
                            strong.title Ethereum Foundation Wallet

                        p!= erb('l.ico.by_eth_wallet.title')
                            ul
                                li!= erb('l.ico.by_eth_wallet.step_1')
                                li!= erb('l.ico.by_eth_wallet.step_2')
                                li!= erb('l.ico.by_eth_wallet.step_3')
                                li!= erb('l.ico.by_eth_wallet.step_4')
                                li!= erb('l.ico.by_eth_wallet.step_5')
                                li!= erb('l.ico.by_eth_wallet.step_6')
                                li!= erb('l.ico.by_eth_wallet.step_7')

                        hr
                        p.cs-ico-instruction-logo
                            img(src='/img/ico/meth.svg')
                            strong.title MyEtherWallet

                        p!= erb('l.ico.by_meth.title')
                            ul
                                li!= erb('l.ico.by_meth.step_1')
                                li!= erb('l.ico.by_meth.step_2')
                                li!= erb('l.ico.by_meth.step_3')
                                li!= erb('l.ico.by_meth.step_4')
                                li!= erb('l.ico.by_meth.step_5')
                                li!= erb('l.ico.by_meth.step_6')

                        hr
                        p!= erb('l.ico.instruction_footer')

        .row
            .col-md-6.col-md-offset-3
                +characteristic('earned', erb('l.ico.invested')).cs-ico-progress
                span.text-left.pull-left ~$1 400 000
                span.text-right.pull-right ~$15 000 000

    if ico_status == 'after'
        .row
            .col-md-4.col-md-offset-2
                p!= erb('l.ico.info_after')
            .col-md-4
                +ico-block-logo

    .row.cs-ico-faq-line
        .col-md-8.col-md-offset-2
            hr
    .row.cs-ico-faq
        .col-md-4.col-md-offset-2
            +ico-faq-item(erb('l.ico.faq.title_1'), erb('l.ico.faq.text_1'))
            +ico-faq-item(erb('l.ico.faq.title_2'), erb('l.ico.faq.text_2'))
            +ico-faq-item(erb('l.ico.faq.title_3'), erb('l.ico.faq.text_3'))
            +ico-faq-item(erb('l.ico.faq.title_4'), erb('l.ico.faq.text_4'))
        .col-md-4
            +ico-faq-item(erb('l.ico.faq.title_5'), erb('l.ico.faq.text_5'))
            +ico-faq-item(erb('l.ico.faq.title_6'), erb('l.ico.faq.text_6'))
            +ico-faq-item(erb('l.ico.faq.title_7'), erb('l.ico.faq.text_7'))
            +ico-faq-item(erb('l.ico.faq.title_8'), erb('l.ico.faq.text_8'))

    +window('buy')