extends ../../components/skeleton

include wow-slider
include footer
include social-icons
include langs

include present
include ico
include docs
include roadmap
include media
include team
include register

block head
    meta(name='keywords'    content='CryptoStarter, crowdfunding, blockchain, IdeaCoin')
    meta(name='description' content='CryptoStarter landing')
    meta(name='author'      content='CryptoStarter')

    link(href='css/wow-slider.css' rel='stylesheet')

    title CryptoStarter

block body
    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a(href='#')
                    img.cs-main_menu-logo(src='img/logo/origin.svg')
                +mobile-top-menu-toggle('top-menu-toggle')
            #top-menu.navbar-collapse.collapse.navbar-responsive-collapse
                ul.nav.navbar-nav.navbar-right
                    +menu-item('#home',     erb('l.main_menu.home'))
                    +menu-item('#ico',      erb('l.main_menu.ico'))
                    +menu-item('#docs',     erb('l.main_menu.docs'))
                    +menu-item('#roadmap',  erb('l.main_menu.timeline'))
                    +menu-item('#media',    erb('l.main_menu.media'))
                    +menu-item('#team',     erb('l.main_menu.team'))
                    +menu-item('#register', erb('l.main_menu.register'))
                    +langs.visible-xs
                    li.dropdown.hidden-xs
                        a.dropdown-toggle(
                            href='#'
                            data-toggle='dropdown'
                            role='button'
                            aria-haspopup='true'
                            aria-expanded='false'
                        )
                            +icon('text-background')
                            span.caret
                        ul.dropdown-menu
                            +langs

    .cs-wow-header
        +wow-slider

    .container
        +present-block
        +ico-block
        +docs-block
        +roadmap-block
        +media-block
        +team-block
        +register-block

    +footer

    #to-top.to-top.hidden: +icon('chevron-up')

block scripts
    script(src='js/wow-slider-tools.js')
    script(src='js/wow-slider.js')
    script(src='js/landing.js')
