extends ../../components/skeleton
include ../../components/social-icons

include wow-slider
include langs

include present
include ico
include docs
include roadmap
include media
include team
include register

block head
    meta(name='keywords'    content='CryptoStarter, crowdfunding, blockchain, IdeaCoin')
    meta(name='description' content='CryptoStarter landing')
    meta(name='author'      content='CryptoStarter')

    link(href='css/wow-slider.css' rel='stylesheet')

    title CryptoStarter

block body
    - var mediaBlock = false 

    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a(href='#')
                    img.cs-main_menu-logo(src='img/logo/origin.svg')
                +mobile-top-menu-toggle('top-menu-toggle')
            #top-menu.navbar-collapse.collapse.navbar-responsive-collapse
                ul.nav.navbar-nav.navbar-right
                    +menu-item('#home',     erb('l.main_menu.home'))
                    +menu-item('#ico',      erb('l.main_menu.ico'))
                    +menu-item('#docs',     erb('l.main_menu.docs'))
                    +menu-item('#roadmap',  erb('l.main_menu.timeline'))
                    if mediaBlock
                        +menu-item('#media',    erb('l.main_menu.media'))
                    +menu-item('#team',     erb('l.main_menu.team'))
                    +menu-item('#register', erb('l.main_menu.register'))
                    +langs.visible-xs
                    li.dropdown.hidden-xs
                        a.dropdown-toggle(
                            href='#'
                            data-toggle='dropdown'
                            role='button'
                            aria-haspopup='true'
                            aria-expanded='false'
                        )
                            +icon('text-background')
                            span.caret
                        ul.dropdown-menu
                            +langs
                            
    +wow-slider

    .container
        ul#project-tabs.cs-project-tabs.nav.nav-pills
            +tab('active-projects', 'Активные проекты').active
            +tab('prepared-projects', 'Скоро стартуют')
            +tab('done-projects', 'Завершенные проекты')

        .tab-content.cs-project-tabs-content
            +tab-panel('active-projects').hidden.active
                .row
                    .col-md-12
                        p 1

            +tab-panel('prepared-projects').hidden
                .row
                    .col-md-12
                        p 2

            +tab-panel('done-projects').hidden
                .row
                    .col-md-12
                        p 3

block scripts
    script(src='js/lib/wow-slider-tools.js')
    script(src='js/lib/wow-slider.js')
    script(src='js/all.js')
