mixin present-block
    #home.row.cs-presentation
        .col-md-12
            .cs-title-line
            h2.cs-title Presentation

            iframe(
                width='854'
                height='480'
                src='https://www.youtube.com/embed/FSX3r4RVBxg?showinfo=0&modestbranding=1'
                frameborder='0'
                gesture='media'
                allow='encrypted-media'
                allowfullscreen
            ).center-block.cs-video
            
            +social-icons.cs-social-bright

    .row
        .col-md-12
            h2.cs-title Header
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row
        .col-md-12
            h2.cs-title Header
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row
        .col-md-12
            h2.cs-title Header
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
    .row.cs-comics-row
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text
        .col-md-4
            img(src='').cs-present-img.center-block
            p text