mixin team-person(name)
    img.img-thumbnail(src='img/team/' + name + '.jpg')
    h2.text-center!= erb('l.team.' + name + '_name')
    p.text-center!= erb('l.team.' + name + '_description')
    .cs-social-bright.text-center
        block

mixin team-block
    #team.row
        .col-md-12
            .text-center
                +icon('user').cs-block-title-icon
            .cs-title-line
            h2.cs-title!= erb('l.title.team')
    .row.cs-team-row
        .col-md-2.col-md-offset-3
            +team-person('oleg')
                a.cs-social.cs-social-small.cs-linked-in(
                    href='https://www.linkedin.com/in/oleg-pavlov-8802a3113/'
                )
        .col-md-2.col-md-offset-2
            +team-person('alex')
                a.cs-social.cs-social-small.cs-linked-in(
                    href='https://www.linkedin.com/in/alexandermusichen/'
                )
    .row.cs-team-row
        .col-md-2.col-md-offset-3
            +team-person('gregor')
                a.cs-social.cs-social-small.cs-linked-in(
                    href='https://www.linkedin.com/in/gregor-steiner-66aa2b7/'
                )
        .col-md-2.col-md-offset-2
            +team-person('ostap')
                a.cs-social.cs-social-small.cs-linked-in(
                    href='https://www.linkedin.com/in/ostap-chervak-76564695/'
                )
    .row.cs-team-row
        .col-md-2.col-md-offset-3
            +team-person('oliver')
                a.cs-social.cs-social-small.cs-linked-in(
                    href=''
                )
        .col-md-2.col-md-offset-2
            +team-person('diego')
                a.cs-social.cs-social-small.cs-linked-in(
                    href='https://www.linkedin.com/in/diegoaguilarmontano/'
                )
    .row.cs-team-row
        .col-md-2.col-md-offset-3
            +team-person('vladislav')
                a.cs-social.cs-social-small.cs-linked-in(
                    href='https://www.linkedin.com/in/' +
                        '%D0%B2%D0%BB%D0%B0%D0%B4%D0%B8%D1%81%D0%BB%D0%B0%D0%B2-' +
                        '%D0%B4%D1%8C%D1%8F%D1%87%D0%B5%D0%BD%D0%BA%D0%BE-14ab65b1/'
                )
        .col-md-2.col-md-offset-2
            +team-person('sergey')
                a.cs-social.cs-social-small.cs-linked-in(
                    href='https://www.linkedin.com/in/sergey-antonov-467835138/'
                )