mixin wow-slider-slide
    li(data-transition='3dcurtain-vertical' data-slotamount='7' data-masterspeed='300')
        img(
            src='img/wow-slider/bg.jpg'
            data-bgposition='center top'
            data-bgfit='cover'
            data-bgrepeat='no-repeat'
        )

        .tp-caption.cs-wow-logo-name.customin.fadeout.tp-resizeme.zindex-2(
            data-x='center'
            data-hoffset='0'
            data-y='240'
            data-customin=
                'x:0;' +
                'y:0;' +
                'z:0;' +
                'rotationX:0;' +
                'rotationY:0;' +
                'rotationZ:0;' +
                'scaleX:1;' +
                'scaleY:1;' +
                'skewX:0;' +
                'skewY:0;' +
                'opacity:0;' +
                'transformPerspective:600;' +
                'transformOrigin:50% 50%;'
            data-speed='800'
            data-start='1100'
            data-easing='Linear.easeNone'
            data-splitin='none'
            data-splitout='none'
            data-elementdelay='0.1'
            data-endelementdelay='0.1'
            data-endspeed='300'
        )
            | Crypto
            span.cs-brand-main-color Starter

        .tp-caption.cs-wow-main-text.customin.tp-resizeme.zindex-3(
            data-x='center'
            data-hoffset='4'
            data-y='339'
            data-customin=
                'x:0;' +
                'y:0;' +
                'z:0;' +
                'rotationX:0;' +
                'rotationY:0;' +
                'rotationZ:0;' +
                'scaleX:6;' +
                'scaleY:6;' +
                'skewX:0;' +
                'skewY:0;' +
                'opacity:0;' +
                'transformPerspective:600;' +
                'transformOrigin:50% 50%;'
            data-speed='1000'
            data-start='2500'
            data-easing='Power3.easeInOut'
            data-splitin='none'
            data-splitout='none'
            data-elementdelay='0.1'
            data-endelementdelay='0.1'
            data-endspeed='300'
        )
            span.text-uppercase!= erb('l.wow_slider.main_text')

        .tp-caption.sfl.fadeout.zindex-4(
            data-x='center'
            data-hoffset='-281'
            data-y='364'
            data-speed='300'
            data-start='2200'
            data-easing='Linear.easeNone'
            data-splitin='none'
            data-splitout='none'
            data-elementdelay='0.1'
            data-endelementdelay='0.1'
            data-endspeed='300'
        )
            img(src='img/wow-slider/left-dots.png')

        .tp-caption.sfr.fadeout.zindex-5(
            data-x='center'
            data-hoffset='281'
            data-y='364'
            data-speed='300'
            data-start='2201'
            data-easing='Linear.easeNone'
            data-splitin='none'
            data-splitout='none'
            data-elementdelay='0.1'
            data-endelementdelay='0.1'
            data-endspeed='300'
        )
            img(src='img/wow-slider/right-dots.png')

        .tp-caption.cs-wow-sub-text.tp-fade.tp-resizeme.zindex-6(
            data-x='center'
            data-hoffset='6'
            data-y='393'
            data-speed='300'
            data-start='3000'
            data-easing='Power3.easeInOut'
            data-splitin='chars'
            data-splitout='none'
            data-elementdelay='0.1'
            data-endelementdelay='0.1'
            data-endspeed='300'
        )
            != erb('l.wow_slider.sub_text')

mixin wow-slider
    #rev_slider_wrapper.rev_slider_wrapper.fullwidthbanner-container.hidden-xs
        #rev_slider.rev_slider.fullwidthabanner
            ul
                +wow-slider-slide
                +wow-slider-slide
    .container.visible-xs
        .row
            .col-xs-12.text-center
                .cs-wow-logo-name-mobile Crypto
                    span.cs-brand-main-color Starter
                .cs-wow-main-text-mobile!= erb('l.wow_slider.main_text')
                .cs-wow-sub-text-mobile!= erb('l.wow_slider.sub_text')
                hr